// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "../../../../node_modules/bulma/sass" with (
  $family-primary: '"Poppins", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

@use "../../../../node_modules/bulma/sass/helpers/flexbox.scss";
@use "../../../../node_modules/bulma/sass/utilities/mixins";

// Import the Google Font
@import "../../../../node_modules/bulma/sass/utilities/initial-variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@include mixins.until($tablet) {
  :root {
    --bulma-size-3: 1.5rem;
    --bulma-title-line-height: 1;
    --bulma-block-spacing: 1rem;
    --bulma-navbar-background-color: #e5e5e5;
  }
}
@include mixins.from($tablet) {
  :root {
    --bulma-body-font-size: 1.25rem;
    --bulma-navbar-background-color: #e5e5e5;
  }
}

:root {
  --bulma-info-h: 174deg;
  --bulma-info-s: 36%;
  --bulma-info-l: 64%;
  --bulma-danger-h: 348deg;
  --bulma-danger-s: 80%;
  --bulma-danger-l: 52%;
  --bulma-link-text: 
}

.navbar {
  --bulma-navbar-background-color: #e7e7e7;
}

.sloader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 52px);
  width: 100%;
}
.sloader {
  width: 48px;
  height: 48px;
  border: 3px solid #eaeaea;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.sloader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
