// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "../../../../node_modules/bulma/sass" with (
  $family-primary: '"Poppins", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

@use  "../../../../node_modules/bulma/sass/helpers/flexbox.scss";
@use "../../../../node_modules/bulma/sass/utilities/mixins";

// Import the Google Font
@import "../../../../node_modules/bulma/sass/utilities/initial-variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@include mixins.until($tablet) {
  :root {
    --bulma-size-3: 1.5rem;
    --bulma-title-line-height: 1;
    --bulma-block-spacing: 1rem;
  }
}
@include mixins.from($tablet) {
  :root {
    --bulma-body-font-size: 1.25rem;
  }
}
