<footer class="has-background-dark p-5 has-text-white">
    <div class="container">
        <h2>©2025 Kettleblaze</h2>
        <ul>
            <li>Via Lavino 195</li>
            <li>40050 Monte San Pietro (BO)</li>
            <li>ITALY</li>
            <li>P.IVA 02645100393</li>
        </ul>
        <h2 class="is-bold mt-6 mb-4">CONTACT DETAILS</h2>
        <ul>
            <li>Website: <a href="https://kettleblaze.store/">kettleblaze.store</a></li>
            <li>Mail: kettleblaze@kettleblaze.store</li>
            <li>Phone: +39 351 666 410 3</li>
            <li>Whatsapp: <a href="https://wa.me/+393516664103">+39 351 666 410 3</a></li>
        </ul>
    </div>
</footer>
{{- with resources.Get "js/compiled/preorders-app.js"}}
<script src="{{.RelPermalink}}" defer></script>
{{- end }}
<script src="//code.tidio.co/ybp2atis8ov0v4ebxq9gk7n9owowwyoy.js" async></script>