{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    <h1 class="title has-text-centered">ORDER KB-2912392-12</h1>
    <ul class="has-text-centered">
      <li>Michael Cane</li>
      <li>+01 283202 98</li>
      <li>michael.cane@gmail.com</li>
    </ul>
  <div class="box my-6">
    <ul>
      <li>
        <div class="columns is-mobile">
          <div class="column">
            <img src="https://placehold.co/120x120"> 
          </div>
          <div class="column">
            <p>1 x FlexiBell 2</p>
          </div>
        </div>
      </li>
      <li>
        <div class="columns is-mobile">
          <div class="column">
            <img src="https://placehold.co/120x120"> 
          </div>
          <div class="column">
            <p>1 x FlexiBell 2</p>
          </div>
        </div>
      </li>
      <li><img src="https://placehold.co/120x120">1 Free T-Shirt (Size M)</li>
    </ul>
  </div>
{{ end }}
