@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

:root {
  --bulma-family-primary: "Inter", sans-serif;
}

.section {
  padding: 2.5rem 0;
}
.box,
.input,
.textarea,
.select,
.button {
  border-radius: 0;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.title {
  font-weight: 600;
  margin-bottom: 2rem;
}
.subtitle {
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.label {
  font-weight: 600;
  margin-bottom: 1rem;
}
.button {
  font-weight: 600;
}
